*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     list-style: none;
     text-decoration: none;
}

  

nav{
     background: black;
     height: 100px;
     width: 100%;
     display: flex;
     align-items: center;
     padding-left: 60px;
     box-sizing: border-box;
     position: fixed;
    top: 0px;
   
}
.logo{
     color: white;
     font-size: 60px;
     display: flex;
     text-align: center;
}

nav ul li{
     display:inline-block;
     line-height: 10px;
    
    font-size: 25px;
    padding: 10px 80px;
    justify-content: center;
    align-items: center;
   

}
nav a{
     color: white;
}
nav a:hover{
     background-color: white;
     color:black;
}
.container{
     height: 130vh;
     width: 100%;
     background-color: rgb(43, 42, 40);
     box-sizing: border-box;
     display: flex;
     flex-wrap: wrap;
     column-gap: 50px;
     justify-content: center;
     margin-top: 80px;
   

}
.box{
     height: 400px;
     margin-top: 50px;
     width: 22%;
     background-color: #fff;
     
     align-items: center;
      border-radius: 25px;
      box-shadow: 5px 10px 5px 10px rgb(206, 214, 216);
     
}
.box img{
     height: 300px;
     box-sizing: border-box;
     width: 330px;
     border-bottom: 8px  solid rgb(132, 132, 204);
     border-radius: 25px;
    
}
h1,p{
     display: flex;
     justify-content: center;
    align-items: center;
}
.box:hover{
     background-color: black;
     color: white;
     cursor: pointer;
     box-shadow: 10px 0 8px 25px white,-1px 0 10px 15px black;
    
}
.cont{
     height: 100vh;
     width: 100%;
     background-color: rgb(202, 180, 180);
     display: flex;

}
.vi{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    column-gap: 30px;
    justify-content: center;
    box-sizing: border-box;

}
.vedio{
     height:200px;
     width: 400px;
     display: flex;
     flex-wrap: wrap;
     /* background-color: rgb(128, 124, 124); */
     /* justify-content: start; */
    }
video{
     height: 500px;
     width: 400px;
     display: flex;
}

